/* Inizio regole in comune della pagina*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
    
}



.container{
    width: 80%;
    max-width: 1180px;
    min-width: 780px;
    margin: auto;
    height: 100%;
}

.col{
    height: 300px;
    width: 100%;
    float: left;
}

/* Inizio regole con button */
.btn{
    display: inline-block;
    text-decoration: none;
    background-color: #0061ff;
    color: white;
    padding: 7px 16px;
}
/* Fine regole con button */



/* Inizio regole con after */
.col::after{
    display: table;
    content: "";
    clear: both;
}

section::after{
    display: table;
    content: "";
    clear: both;
}

.container::after{
    display: table;
    content: "";
    clear: both;
}

.container-responsive::after{
    display: table;
    content: "";
    clear: both;

}

.clearfix{
    clear: both;
}
/* Fine regole con after */

/* Fine regole in comune della pagina */


/* Inizo regole header */
.row{
    min-width: 780px;
    height: 80px;
    position: fixed;
    top: 0;
    width:100%;
    left:0px;
    line-height: 80px;
    z-index: 999999;
    background-color: white;
}

header .row nav{
    height: 80px;
    width: 100%;
    line-height: 80px;
}

/* Inizio regole nav */
.row nav img{
    vertical-align: middle;
    
}
.row nav a{
    display: inline-block;
    margin-left: 30px;
    
}
.row ul{
    display: inline-block;
    
}
.row ul li{
    display: inline-block;
    list-style: none;
    vertical-align: middle;
}

.row ul li a{
    display: inline-block;
    text-decoration: none;
    
    vertical-align: middle;
    color: black;
}

.row nav .right-nav{
    float: right;
    
}

.row  .btn{
    display: inline;
    color: white;
    margin-right: 10px;
    
}

/* Fine regole nav */

/* Fine regole header */

/* Inizio regole jumbotron */
#jumbotron{
    margin-top: 80px;
    padding-top: 50px;
    background-color: #b4d0e7;
    width: 100%;
    max-height: 670px;
    min-width: 780px;
}

#title h1{
    padding-top: 20px;
    font-weight: 800;
    font-size: 65px;
}

.text-jumbo{
    width: 30%;
    float: left;
   
}

.text-item p{
    font-weight: 500;
    padding-top: 30px;
    padding-bottom: 30px;
}

.text-item .btn{
    margin-bottom: 10px;
    font-weight: 500;
}

.text-item .cancel{
    padding-bottom: 50px;
}

.fas{
    font-size: 40px;
    color: black;
}
 #img-jumbotron{
    margin-top: 30px;
    width: 70%;
    float: left;
    
}
/* Inizio regole jumbotron */



/* Inizio regole da applicare a main e alle sue sezioni */
main{
    width: 100%;
}

/* Inizio prima sezione TARIFFE */

.rates{
    width: 100%;
    min-height: 1000px;
    padding: 120px 0;
    background-color: green;
}

.title-rates{
    width: 100%;
    height: 50px;
    background-color: blue;
}


.col.col-sx{
    width: 33.3%;
    background-color: indigo;

}

.col.col-middle{
    width: 33.3%;
    background-color: lawngreen;
    padding: 0 40px;

}

.col.col-dx{
    width: 33.3%;
    background-color: maroon;

}

.col.col-bottom{
    width: 100%;
    height: 200px;
    background-color: mediumorchid;

}

/* Fine prima sezione TARIFFE */



/* Inizio sezione social */
.social{
    padding: 120px 0;
    width: 100%;
    min-height: 420px;
    background-color: mediumturquoise;
}


/* Fine sezione social */


/* Inizio sezione offerte business */

.business-plan{
    padding: 120px 0;
}

/* Fine sezione offerte business */


/* Inizio sezione brand-partner  */
.container-responsive{
    width: 100%;
    height: 700px;
    background-color: orange;
}

.container-responsive .container{
    background-color: blue;
    height: 100px;
    margin-bottom: 50px;
}

.brand-partner{
    width: 100%;
    min-height: 600px;
    min-width: 780px;
    
}

.colsx{
    float: left;
    width: 30%;
    background-color: crimson;
    max-height: 600px;
}

.colmid{
    float: left;
    width: 40%;
    background-color: cyan;
    max-height: 600px;
    overflow-y: auto;
    text-align: justify;
}

.coldx{
    float: left;
    width: 30%;
    background-color: darkmagenta;
    max-height: 600px;
}

.brand{
    height: 300px;
    width:calc(100%/ 4);
    float: left;
}


.try-free{
    min-height: 400px;
    background-color: #b4d0e7;
}
/* Fine sezione brand-partner  */

/* Inizio sezione faq  */
.faq{
    height: 600PX;
    background-color: honeydew;
}

/* Fine  sezione faq  */


/* Fine regole da applicare a main e alle sue sezioni */

/* Inizio del footer */
.footer-nav{
    background-color: black;
    height: 600px;
}


/* Fine del footer */