/* Inizio regole in comune della pagina*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
    
}


.container{
    width: 65%;
    max-width: 1180px;
    min-width: 780px;
    margin: auto;
    height: 100%;
}

.col{
    text-align: left;
    width: 100%;
    float: left;
    
}

/* Inizio regole con button */
.btn{
    display: inline-block;
    text-decoration: none;
    background-color: #0061ff;
    color: white;
    padding: 7px 16px;
}
/* Fine regole con button */

/* Inizio regole hover */
header nav .here:hover {
    border-bottom: 3px solid black; 
}

/* Fine regole hover */

/* Inizio regole con after */
.col::after{
    display: table;
    content: "";
    clear: both;
}

section::after{
    display: table;
    content: "";
    clear: both;
}

.container::after{
    display: table;
    content: "";
    clear: both;
}

.container-responsive::after{
    display: table;
    content: "";
    clear: both;

}

.clearfix{
    clear: both;
}
/* Fine regole con after */

/* Fine regole in comune della pagina */


/* Inizo regole header */
.row{
    min-width: 780px;
    height: 80px;
    position: fixed;
    top: 0;
    width:100%;
    left:0px;
    z-index: 999999;
    background-color: white;
}

header .row nav{
    height: 80px;
    width: 100%;
    line-height: 80px;
}

/* Inizio regole nav */
.row nav img{
    vertical-align: middle;
    
}
.row nav a{
    display: inline-block;
   
    height: 80px;
    
    
}
.row ul{
    display: inline-block;
    
}
.row ul li{
    line-height: 80px;
    display: inline-block;
    list-style: none;
    
  
}

.row ul li a{
    display: inline-block;
    text-decoration: none;
    color: black;
    margin: 0 20px;
}

.row nav .right-nav{
    float: right;
    
}

.row  .btn{
    display: inline;
    color: white;
    margin-right: 10px;
    
}

/* Fine regole nav */

/* Fine regole header */

/* Inizio regole jumbotron */
.container-jumbo{
    width: 80vw;
    max-width: 1180px;
    min-width: 780px;
    margin: auto;
   
}

#jumbotron{
    margin-top: 30px;
    padding-top: 50px;
    background-color: #b4d0e7;
    width: 100%;
    max-height: 670px;
    min-width: 780px;
}

#title h1{
    padding-top: 20px;
    font-weight: 800;
    font-size: 65px;
}

.text-jumbo{
    width: 30%;
    float: left;
   
}

.text-item p{
    font-weight: 500;
    padding-top: 30px;
    padding-bottom: 30px;
}

.text-item .btn{
    margin-bottom: 10px;
    font-weight: 500;
}

.text-item .cancel{
    padding-bottom: 50px;
}

.fas.fa-arrow-down{
    font-size: 40px;
    color: black;
}
 #img-jumbotron{
    margin-top: 30px;
    width: 70%;
    float: left;
    
}
/* Inizio regole jumbotron */



/* Inizio regole da applicare a main e alle sue sezioni */
main{
    width: 100%;
}

/* Inizio prima sezione TARIFFE */

.tariffe{
    width: 100%;
    min-height: 1000px;
    padding: 150px 0;
   
}

.tariffe .title-tariffe h2{
    font-size: 38px;
    font-weight: 800;
}

.offerte-costi{
    margin:30px 0;
}

#annuale{
    margin-left: 20px;
}

#cerchio-check{
    vertical-align: middle;
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 4px solid black;
    border-color: #0061ff;
}

#cerchio{
    vertical-align: middle;
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid gray;
    
}

.clas-offerta{
    border-bottom: 1px solid #d3d3d6;
    text-align: center;
    padding: 10px 0;
}

.features-offerta{
    padding-left: 20px;
    text-align: left;
}


.col.col-sx{
    width: calc( 100% / 3 - 20px );
    border:1px solid #d3d3d6;
    min-height: 1000px;

}

.col.col-middle{
    margin: 0 20px;
    width: calc( 100% / 3 - 20px);
    border:1px solid #d3d3d6;
    min-height: 1000px;
    

}

.col.col-dx{
    width: calc( 100% / 3 - 20px );
    border:1px solid #d3d3d6;
    min-height: 1000px;
}

.col.col-bottom{
    margin-top: 50px;
    height: 200px;
    border: 1px solid #d3d3d6;
    height: 300px;
    max-height: 210px;
    position: relative;

}

.btn.col-btn{
    position: absolute;
    top: 65px;
    right: 30px;
}

.col-bottom .features-offerta h4{
    padding: 20px 0;
}

/* Parti in comune all'interno della zezione tariffe */
.features-offerta .price{
    padding-bottom: 0px;
}
.features-offerta .periodo-price{
    padding-top: 0;
    color: #6b7b87;
}

.features-offerta div{
    padding: 15px 0;
}
#acquista-ora{
    color: #0061ff;
}
.fa-check{
    color: #0061ff;
}

.oppure{
    padding-bottom: 30px;
    padding-right: 5px;
    border-bottom: 1px solid #d3d3d6;
}

.features-offerta h3{
    padding-top: 20px;
    font-size: 25px;
    font-weight: 800;
}

.features-offerta h4{
    padding-top: 50px;
}

.col .far{
    padding-right: 5px;
    display: inline-block;
}

.col .fas{
    padding-right: 5px;
}
/* Fine prima sezione TARIFFE */



/* Inizio sezione social */
.social{
    padding: 120px 0;
    width: 100%;
    min-height: 420px;
    background-color: mediumturquoise;
}


/* Fine sezione social */


/* Inizio sezione offerte business */

.business-plan{
    padding: 120px 0;
}

/* Fine sezione offerte business */


/* Inizio sezione brand-partner  */
.container-responsive{
    width: 100%;
    height: 700px;
    background-color: orange;
}

.container-responsive .container{
    background-color: blue;
    height: 100px;
    margin-bottom: 50px;
}

.brand-partner{
    width: 100%;
    min-height: 600px;
    min-width: 780px;
    
}

.colsx{
    float: left;
    width: 30%;
    background-color: crimson;
    max-height: 600px;
}

.colmid{
    float: left;
    width: 40%;
    background-color: cyan;
    max-height: 600px;
    overflow-y: auto;
    text-align: justify;
}

.coldx{
    float: left;
    width: 30%;
    background-color: darkmagenta;
    max-height: 600px;
}

.brand{
    height: 300px;
    width:calc(100%/ 4);
    float: left;
}


.try-free{
    min-height: 400px;
    background-color: #b4d0e7;
}
/* Fine sezione brand-partner  */

/* Inizio sezione faq  */
.faq{
    height: 600PX;
    background-color: honeydew;
}

/* Fine  sezione faq  */


/* Fine regole da applicare a main e alle sue sezioni */

/* Inizio del footer */
.footer-nav{
    background-color: black;
    height: 600px;
}


/* Fine del footer */